abema-color = #6fb900
header
    height 50px
.center
    display block
    text-align center
.btn, .form-control, .pagination > li > a, .panel, .alert, .list-group-item, .label
    border-radius 0 !important
mark
	padding 0
	background rgba(111,185,0,.2)
.label-success
	background abema-color